.cover_main_image{
    background-image: url("../imgs/louis-hansel-shotsoflouis-SQczzyGkmpU-unsplash.jpg");
    background-size: cover;
}
body{
    background-color: #f8f8f8;
}

.stretched-link {
    color: #da7b7b;
}


.blog-post-title{
    background-color: #cb6161;
    color: #f8f8f8;
}

a{
    color: #da7b7b;
    text-decoration: none;
}

a:hover{
    color: #da0000;
}


.btn{
    border-color: #da7b7b;
    color: #ec8d67;
}

.btn:hover{
    background-color: #da7b7b;
    border-color: #ec8d67;

}

hr{
    color: #da0000;
}